<!-- Fix the slider on mobile device. Fucking Yeah!!!! -->
<style>
.carousel-bg .carousel-inner .item {
 background-color: darkslategrey;
 background-size: cover;
 background-position: center;
 min-height: 650px;
}
</style>



<div class="containter">
	<div id="carousel-example-generic" class="carousel slide carousel-bg" data-ride="carousel" data-pause="false">
     	<ol class="carousel-indicators">
     		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         	<li data-target="#carousel-example-generic" data-slide-to="1"></li>
         	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
         	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
         	<li data-target="#carousel-example-generic" data-slide-to="4"></li>
         	<li data-target="#carousel-example-generic" data-slide-to="5"></li>
       </ol>
    <div class="carousel-inner" style="height: 650px;" role="listbox">
    	<div class="item active" style="background-image: url(./img/warm1.jpeg);"></div>
        <div class="item" style="background-image: url(./img/warm2.jpeg);"></div>
        <div class="item" style="background-image: url(./img/warm3.jpeg);"></div>
        <div class="item" style="background-image: url(./img/warm4.jpeg);"></div>
        <div class="item" style="background-image: url(./img/warm5.jpeg);"></div>
        <div class="item" style="background-image: url(./img/warm6.jpg);"></div>
        <div class="carousel-caption" style="top: 200px;">
        	<h1>Qi's Homepage</h1>
            <hr>
            <p>一个地方，关于code，关于peace...</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
     </div>
 	</div>
</div>



